<hr>
<div class="container-fluid" id="tech" class="tech">

    <div class="container">
      <h1 class="text-center mt-5">Tecnologias</h1>
      <div class="row box1">

        <div class="col-lg-3 col-md-4 col-sm-6 card1 text-center">
          <img src="https://i.imgur.com/D1Lx0ff.png" alt="spring" class="spring">
          <h4>Java</h4>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque sunt rerum</p>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 card1 text-center">
          <img src="https://i.imgur.com/bpj5ppg.png" alt="spring" class="spring">
          <h4>Spring boot</h4>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque sunt rerum</p>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 card1 text-center">
          <i class="fab fa-angular icon"></i>
          <h4>Angular</h4>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque sunt rerum</p>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 card1 text-center">
          <img src="https://i.imgur.com/Gzs91I0.png" alt="typescript" class="typescript">
          <h4>Typescript</h4>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque sunt rerum</p>
        </div>

      </div>

      <div class="row box2">

        <div class="col-lg-3 col-md-4 col-sm-6 card1 text-center">
          <img src="https://i.imgur.com/4x1xJt3.png" alt="spring" class="boot">
          <h4>Bootstrap</h4>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque sunt rerum</p>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 card1 text-center">
          <img src="https://i.imgur.com/IgxzINJ.png" alt="spring" class="html">
          <h4>HTML</h4>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque sunt rerum</p>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 card1 text-center">
          <img src="https://i.imgur.com/oXltOln.png" alt="spring" class="html">
          <h4>CSS</h4>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque sunt rerum</p>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 card1 text-center">
          <i class="fas fa-database icon2"></i>
          <h4>MySQL</h4>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque sunt rerum</p>
        </div>

      </div>

  </div>

</div>

