<body>
  <app-menu></app-menu>
<div class="container-fluid bg1">
  <div class="container c1">
    <div class="row d-flex">
      <div class="col-md-1"></div>
      <div class="col-md-10 text mt-5">
        <h1>Hello, stranger!</h1>
        <h1>Eu sou <span class="color">Dharan</span></h1>
        <h2>Desenvolvedor Full Stack</h2>
        <button class="btn mt-4" href="">Entre em contato</button>
      </div>
      <div class="col-md-1"></div>
    </div>
  </div>

</div>


  <app-aboutme></app-aboutme>
  <app-tech></app-tech>
  <app-projectsporti></app-projectsporti>
  <app-contact></app-contact>
  <app-footer></app-footer>

</body>

