<div class="container-fluid bg1">
  <hr>
  <div class="container">
    <h1 class="text-center mt-4" >Projetos</h1>
    <div class="row d-flex align-items-center rowb">
        <div class="col-lg-6 box1 mr-1">
              <img src="" alt="">
              <h4>aGenTImove</h4>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos rerum doloribus debitis architecto.</p>
        </div>

        <div class="col-lg-6 box1 ml-1">
          <img src="" alt="">
          <h4>Blog Pessoal</h4>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos rerum doloribus debitis architecto.</p>
    </div>

    </div>

  </div>


</div>
