
h1{
  color: var(--p2-color) !important;
  text-shadow:
    0 0 0.025em hsl(0 0% 100% / 0.5), 0 0 0.45em currentColor ;
}

p{
  font-family: 'Hind Madurai', sans-serif;
  font-weight: 400;
  color: var(--white-color-2);
}

hr{
  margin: auto;
  width: 80%;
  border: 0.125em solid var(--p2-color);
  box-shadow: inset 0 0 0.5em 0 var(--p2-color), 0 0 0.5em 0 var(--p2-color) ;
  position: relative;
}

.box1{
    border-radius: 15px;
    padding: 1rem;

    margin: auto 3rem;
    display:flex;
    justify-content:center;
    align-items:center;
    height: 100vh;
}
.perfil{
  /* margin-left: 2rem; */
  width: 90%;

  border: 0.125em solid var(--p2-color);
  box-shadow: inset 0 0 0.5em 0 var(--p2-color), 0 0 0.5em 0 var(--p2-color) ;
  position: relative;

  transition: background-color 100ms linear;
}

.text{
  background-color: #1b0524a6;

  border-radius: 2rem;
  border: 0.125em solid var(--p2-color);
  box-shadow: inset 0 0 0.5em 0 var(--p2-color), 0 0 0.5em 0 var(--p2-color) ;
  position: relative;
  padding: 2rem;
  text-align: center;
}

.btn{
  font-family: 'Questrial', sans-serif;
  font-size: 1.5rem;
  padding: 0.5rem;
  color:var(--dark-color);
  cursor: pointer;
  color:var(--p2-color);
  text-shadow:
    0 0 0.1025em hsl(0 0% 100% / 0.5), 0 0 0.45em currentColor ;

  border: 0.125em solid var(--p2-color);
  box-shadow: inset 0 0 0.5em 0 var(--p2-color), 0 0 0.5em 0 var(--p2-color) ;
  position: relative;

  transition: background-color 100ms linear;
}

.btn:hover, .btn:focus{
  background-color: var(--p2-color);
  color: var(--dark-color);
  text-shadow: none;
}
.btn:after{
  content: '';
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 1em 0.25em var(--p2-color);
  opacity: 0;
  transition: opacity 100ms linear;
}

.btn:hover::after{
  opacity: 1;
}
